<section class="about">
    <div class="main">
        <h2>Acerca de mi</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, delectus. Eos quod maiores laborum! Non nam facere, quos magni alias, omnis voluptatum quibusdam maiores sit ex expedita corrupti perferendis exercitationem?</p>
        <button>Descargar CV.</button>
    </div>
    <img class="animate__animated animate__backInRight" src="https://dl.dropbox.com/s/2u693032ks0tw3l/undraw_version_control_re_mg66.svg?dl=0" alt="image optional">
</section>