<header class="header" id="header">
    <h1 class="header--main">LOGO</h1>
    <nav class="header__nav" data-action="openCloseMenu">
        <ol>
            <li>
                <a href="/">LOGO</a>
            </li>
            <li>
                <a href="#">Quíen soy</a>
            </li>
            <li>
                <a href="#">Habilidades</a>
            </li>
            <li>
                <a href="#">Proyectos</a>
            </li>
            <li>
                <a href="#">Contacto</a>
            </li>
        </ol>
        <span class="header--helper" data-action="openCloseMenu">Tap to close</span>
    </nav>
    <button class="header--button" data-action="openCloseMenu">
        <i class="fas fa-bars"></i>
    </button>
</header>