<section class="hero">
    <img class="animate__animated animate__backInLeft" src="https://dl.dropbox.com/s/2v8m7y4attl3q78/undraw_firmware_re_fgdy.svg?dl=0" alt="image optional">
    <div class="main">
        <img src="https://dl.dropbox.com/s/shh3isjnhpsdnwz/dee4bb671509e13bfb33a9fdfa8217a5.jpg?dl=0" alt="profile">
        <h2>Lorem, ipsum.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima officia ipsa sit at, deserunt fuga dolore excepturi nemo sequi aspernatur.</p>
    </div>
</section>