<section class="projects">
    <div class="main">
        <h2>Proyectos</h2>
        <div class="projects__project">
            <img src="https://dl.dropbox.com/s/r7ywo8bza80u06b/cute-archer-anime-girl-original.jpg?dl=0" alt="proyect image">
            <h3>Titulo - Titulo</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit, ducimus!</p>
            <button>Ver código</button>
        </div>
        <div class="projects__project">
            <img src="https://dl.dropbox.com/s/r7ywo8bza80u06b/cute-archer-anime-girl-original.jpg?dl=0" alt="proyect image">
            <h3>Titulo - Titulo</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit, ducimus!</p>
            <button>Ver código</button>
        </div>
        <div class="projects__project">
            <img src="https://dl.dropbox.com/s/r7ywo8bza80u06b/cute-archer-anime-girl-original.jpg?dl=0" alt="proyect image">
            <h3>Titulo - Titulo</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit, ducimus!</p>
            <button>Ver código</button>
        </div>
        <div class="projects__project">
            <img src="https://dl.dropbox.com/s/r7ywo8bza80u06b/cute-archer-anime-girl-original.jpg?dl=0" alt="proyect image">
            <h3>Titulo - Titulo</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit, ducimus!</p>
            <button>Ver código</button>
        </div>
        <div class="projects__project">
            <img src="https://dl.dropbox.com/s/r7ywo8bza80u06b/cute-archer-anime-girl-original.jpg?dl=0" alt="proyect image">
            <h3>Titulo - Titulo</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit, ducimus!</p>
            <button>Ver código</button>
        </div>
        <div class="projects__project">
            <img src="https://dl.dropbox.com/s/r7ywo8bza80u06b/cute-archer-anime-girl-original.jpg?dl=0" alt="proyect image">
            <h3>Titulo - Titulo</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit, ducimus!</p>
            <button>Ver código</button>
        </div>
    </div>
</section>