<section class="skills">
    <img class="animate__animated animate__backInLeft" src="https://dl.dropbox.com/s/o0zyzlprw052otm/undraw_react_y-7-wq.svg?dl=0" alt="image optional">
    <div class="main">
        <h2>Habilidades</h2>
        <div class="skills__skill">
            <svg height="100" width="100">
                <circle cx="50%" cy="50%" r="45"></circle>
                <circle cx="50%" cy="50%" r="45" style="--data-porcent: 90"></circle>
            </svg>
            <span>90%</span>
            <p>JAVASCTRIPT</p>
        </div>
        <div class="skills__skill">
            <svg height="100" width="100">
                <circle cx="50%" cy="50%" r="45"></circle>
                <circle cx="50%" cy="50%" r="45" style="--data-porcent: 70"></circle>
            </svg>
            <span>70%</span>
            <p>PHP</p>
        </div>
        <div class="skills__skill">
            <svg height="100" width="100">
                <circle cx="50%" cy="50%" r="45"></circle>
                <circle cx="50%" cy="50%" r="45" style="--data-porcent: 90"></circle>
            </svg>
            <span>90%</span>
            <p>CSS</p>
        </div>
        <div class="skills__skill">
            <svg height="100" width="100">
                <circle cx="50%" cy="50%" r="45"></circle>
                <circle cx="50%" cy="50%" r="45" style="--data-porcent: 80"></circle>
            </svg>
            <span>80%</span>
            <p>REACT</p>
        </div>
        <div class="skills__skill">
            <svg height="100" width="100">
                <circle cx="50%" cy="50%" r="45"></circle>
                <circle cx="50%" cy="50%" r="45" style="--data-porcent: 80"></circle>
            </svg>
            <span>80%</span>
            <p>SASS</p>
        </div>
        <div class="skills__skill">
            <svg height="100" width="100">
                <circle cx="50%" cy="50%" r="45"></circle>
                <circle cx="50%" cy="50%" r="45" style="--data-porcent: 85"></circle>
            </svg>
            <span>85%</span>
            <p>WEBPACK</p>
        </div>
        <div class="skills__skill">
            <svg height="100" width="100">
                <circle cx="50%" cy="50%" r="45"></circle>
                <circle cx="50%" cy="50%" r="45" style="--data-porcent: 80"></circle>
            </svg>
            <span>80%</span>
            <p>NODE</p>
        </div>
        <div class="skills__skill">
            <svg height="100" width="100">
                <circle cx="50%" cy="50%" r="45"></circle>
                <circle cx="50%" cy="50%" r="45" style="--data-porcent: 90"></circle>
            </svg>
            <span>90%</span>
            <p>HTML</p>
        </div>
    </div>
</section>